ArticleInsight-AI.json
{
  "name": "Sistema Inteligente de Resumo de Artigos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "eda94705-bc93-4d5b-82f7-7f12a6a958e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nZ-5LrAaXdetdTS-ZmvnaPmw5Ja3bVgpta1qpb0siC4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZ-5LrAaXdetdTS-ZmvnaPmw5Ja3bVgpta1qpb0siC4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "48707c7a-2689-4488-8ea7-a1e51f49b312",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PSfSCa3XRARRW1We",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['Link do Artigo'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_9f8b80270a6a424d82397eeea373e66e9edu3QEoFmulsQcy5LLDLuI6wy82"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "fda7866f-5c38-4f0c-a72a-365263e1e10d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "textoExtraido",
              "cssSelector": "body",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "246e5fc7-bb16-431b-97b5-4b29adc525d1",
      "name": "HTML"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Analise o texto a seguir e gere um resumo estruturado em português brasileiro.\n\nO resumo deve conter exatamente 5 tópicos bem inteligentes, cada um com:\n- Um título em negrito\n- Uma explicação clara e objetiva \n\nIndependentemente do idioma do texto original, responda sempre em português brasileiro.\n\nTexto para analisar:\n{{ $json.textoExtraido }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "e3d98ac3-7093-4070-ae8c-a6ac8f1eb0e6",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "pkjaB0hGz7E5tLdj",
          "name": "Google Gemini Davi"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "={{ $('Get row(s) in sheet').item.json['Link do Artigo'] }}",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        0
      ],
      "id": "94bbccbb-872d-4d6c-8632-4598bdfb9a49",
      "name": "Send a message",
      "webhookId": "25ef0666-b105-4d63-a7c3-34e256b37736",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ed5UV6i3kvUV23l6",
          "name": "Gmail novom"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nZ-5LrAaXdetdTS-ZmvnaPmw5Ja3bVgpta1qpb0siC4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZ-5LrAaXdetdTS-ZmvnaPmw5Ja3bVgpta1qpb0siC4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Resumo Enviado",
            "Link do Artigo": "={{ $('Get row(s) in sheet').item.json['Link do Artigo'] }}",
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link do Artigo",
              "displayName": "Link do Artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        0
      ],
      "id": "b3885af5-0a79-493e-8a5d-af643c24f9b2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PSfSCa3XRARRW1We",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega só o primeiro item com Status vazio\nconst pendente = items.find(item => !item.json.Status);\n\nif (pendente) {\n  return [pendente];\n} else {\n  return []; // nenhum item pendente, workflow para aqui\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "30f3e81e-1f16-43d4-9171-8ab776589f4b",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a4cc79d-fecb-4858-a701-99c5018e6e22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "735e8cc38cdf7c1a83fe21c9bccaaef441062d97dd944ad65f5676f295b29e74"
  },
  "id": "NvidBOLBhSmS5fx4",
  "tags": []
}